/* Your Website Styles 

css image gallery was used from codepen.io
http://codepen.io/oknoblich/pen/ELfzd   --OLIVER KNOBLICH

*/


span a {
  float: right;
  margin-right: 1%;
  margin-top: 2%;
  color: ;


}


section {
  margin-top: 2%;
}

h1 {
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(215, 215, 215);
}


a {
  color:  rgb(215, 215, 215);
  font-size: 1.5em;
}
a:hover {
  text-decoration: none;
  color: rgb(152, 5, 15);
}



body {
  
  color: #555;
  background:url('../img/logo1.png');

}

.gallery {
  width: 75%;
  margin: 0 auto;
  padding: 1%;
  background: rgba(152, 5, 15, 0.9);
}

.gallery > div {
  position: relative;
  float: left;
  padding: .5%;
}

.gallery > div > img {
  width: 100%;
  -webkit-transition: .1s transform;
  -webkit-transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  -webkit-transform: scale(1.5,1.5);
  -webkit-transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}


footer  {
  margin: 7%% 0;
  text-align: center;
  
}

footer > a {
  color: #033a5d;
  background: rgb(215, 215, 215);
}

/* Show Grid */
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}