/* Your Website Styles */



/* header */

h1	{
	color: white;
}


/* navigation */

nav {
	float: right;
	top: -100px;
}


.header {
	background: rgba(26, 26, 26, 0.9);
	height: 130px;

}













/* Links styles */

nav a {
  text-decoration: none;

  color: white;
  list-style: ;
  margin-top: -100px;
  padding: 0;
  vertical-align: baseline;
  text-transform: uppercase;
}

.span_12 ul li {

	display: inline-block;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}