/* Your Website Styles */
header{ background: blue;
      
       
}

h1 {
  font-size: ;
}













/* Links styles */
nav a {
  text-decoration: none;
  padding-left: 500px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}